DB_SERVER=host.docker.internal
DB_PORT=1433
DB_NAME=Dental_House2026
DB_USER=sa
DB_PASSWORD=UnaClaveFuerte_2026!
JWT_SECRET=DentalPrueba@2026_SuperSecretKey_MustBe32CharsMin!
JWT_ISSUER=https://api.dentalprueba.com
JWT_AUDIENCE=https://dentalprueba.com
